@(sist: sistema.Sistema)

@import helper._ 

@main("Login") {

	
	<div class="wrapper" style="height: 100%;" float="center">
		<center>
			<head>
				<font font="Arial" color="white" size="15">
					Cadastro
				</font>
			</head>
			<br></br>
			<div class="cadastrar">
				</br>
				<body>
					<font font="Arial" color="white" size="5">
						Nome: 
					</font>
				</body></br>
				<input id="nomeID" type="text" name="email" style="width:250px;"></input>
				</br></br>
				<body>
					<font font="Arial" color="white" size="5">
						E-mail: 
					</font>
				</body></br>
				<input id="emailID" type="text" name="email" style="width:250px;"></input>
				</br></br>
				<body>
					<font font="Arial" color="white" size="5">
						Password: 
					</font>
				</body></br>
				<input id="passwordID" type="password" name="email" style="width:250px;"></input>
				</br></br>
				<body>
					<font font="Arial" color="white" size="5">
						Confirme Password: 
					</font>
				</body></br>
				<input id="confirmePasswordID" type="password" name="email" style="width:250px;"></input>
				</br></br>
				<button class="botaoLogin" type="button" onclick="login()">
					<script type="text/javascript">
						  function login()
						  {
							nome = 	document.getElementById("nomeID").value;						
							email = document.getElementById("emailID").value;
							password = document.getElementById("passwordID").value;
							confirmePassword = document.getElementById("confirmePasswordID").value;
							if(password == confirmePassword){
								location.href = ("/cadastrar/"+nome+"/"+email+"/"+password);
							}else{ 
								alert("As senhas não conferem");
							}
							
						  }
					</script>
					<font font="Arial" color="white" size="2">
							Cadastrar
					</font>
				</button>
				<button class="botaoLogin" type="button" onclick="cancelar()">
					<script type="text/javascript">
						  function cancelar()
						  {
							location.href = ("/");
						  }
					</script>
					<font font="Arial" color="white" size="2">
							Cancelar
					</font>
				</button>
			</div>
		</center>
				
	</div>




}