@(plano: sistema.Sistema, auxiliar: controllers.Auxiliar)

@import helper._ 

@main("Meu curso") {
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
		role="banner">
		<div class="navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a href="" class="navbar-brand active">Home</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse"
					role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="">Ajuda</a></li>
						<li><a href="">Dicas</a></li>
						<li><a href="">Overview</a></li>
						<li><a href="">Colabore</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="">Sobre</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<br></br>
	
	<div class="wrapper" style="height: 100%;">
		<div class="titulo">
			<nome-principal>Meu Curso</nome-principal>
		</div>	
		<div id="colunas">
		
			@for(periodo <- 1 to plano.getTotalPeriods()){
				<div id="p1" class="periodo">
					<div id="inf2" class="informacao">
						<nome>@plano.getTotalCredits(periodo) credito(s)</nome></br>
						<nome>dificuldade: @plano.getDegreeOfDifficulty(periodo)</nome>
					</div>
					<div id="c1" class="coluna">
						@for(disciplina <- plano.getAllocatedDisciplines(periodo)){						
							@if(plano.verifyConsistency(disciplina, periodo)){
								<div class="disciplina" >
									<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
									<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
									<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>	
									</br>
									@for(a <- 1 to 14 if(a != periodo)){
										<a href=@auxiliar.concatenaCaminho("/mover/",disciplina,a,periodo)>@a</a>
									}						
								</div>						
							}
							@if(!plano.verifyConsistency(disciplina, periodo)){ 				
								<div class="disciplinaNotOk" >
									<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
									<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
									<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>	
									</br>
									@for(a <- 1 to 14 if(a != periodo)){
										<a href=@auxiliar.concatenaCaminho("/mover/",disciplina,a,periodo)>@a</a>
									}						
								</div>
							}
						}
					</div>
				</div>
			}
		
		</div>
	</div>
}
