@(login: sistema.Login)

@import helper._ 

@main("Login") {

	
	<div class="wrapper" style="height: 100%;" float="center">
		<center>
			<head>
				<font font="Arial" color="white" size="15">
					Login - Meu Curso
				</font>
			</head>
			<br></br>
			<div class="login">
				</br>
				<body>
					<font font="Arial" color="white" size="5">
						E-mail: 
					</font>
				</body></br>
				<input type="text" name="email"></input>
				</br></br>
				<body>
					<font font="Arial" color="white" size="5">
						Password: 
					</font>
				</body></br>
				<input type="password" name="password"></input>
				</br></br>
				<button class="botaoLogin" type="button">
					<font font="Arial" color="white" size="2">
						Login
					</font>
				</button>
				<button class="botaoLogin" type="button">
					<font font="Arial" color="white" size="2">
						New user
					</font>
				</button>
			</div>
		</center>
				
	</div>




}